.card {
  display: block;
  margin: 0 auto;
  box-align: center;
  padding: 15px 15px 10px;
}
.card-img-top {
  border-radius: 10px;
}
.card-body {
  padding-bottom: 0px;
}
.container {
  padding: 20px;
  max-width: 80%;
}
.current-weather {
  margin: 0 auto;
  text-decoration: none;
  padding: 0;
  list-style-type: none;
  color: grey;
  font-size: 16px;
  line-height: 1.2;
  display: block;
  position: relative;
  margin-left: 283px;
  margin-top: -48px;
}

h5 {
  font-size: 40px;
  color: grey;
}

.current-temp {
  display: block;
  font-size: 50px;
  margin: 0 auto;
  line-height: 0;
  color: grey;
}

.current-temp .active {
  color: grey;
  cursor: default;
}

.current-temp .active:hover {
  text-decoration: none;
}

.units {
  position: relative;
  top: -22px;
  font-size: 17px;
  margin-left: -8px;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration-line: underline;
}
button {
  margin-top: 33px;
  position: relative;
  top: 50%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}

h4 {
  font-size: 15px;
  line-height: 0px;
  color: grey;
}

h6 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 5px;
  color: grey;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: grey;
}

.weather-forecast-temp {
  font-size: 13px;
  color: grey;
}

.weather-forecast-temp-max {
  color: black;
  font-weight: bold;
}
